.perfil{
    background-color: #F3CF54;
    color: #263238;
    height: 100vh;
    padding: 40px 20px;
}
.perfil h2 {
    font-size: 18px;
    color: #263238;
    font-family: 'Poppins', sans-serif;
}
.menuLat {
    display: flex;
    flex-direction: column;
}
.menuLat a {
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #263238;
}