.btnActions {
    background: #BDD1ED;
    border: 1px solid #BDD1ED;
    padding: 15px;
    border-radius: 10px;
    color: #263238;
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


form input {
    width: 100% !important;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}
  
.modal-content {
    margin: 5% auto !important;
    padding: 20px;
    box-shadow: 0 0 10px #e1d19ba9;
    width: 80%;
}
.close {
    color: #e04d4d !important;
    font-size: 28px !important;
    font-weight: 400 !important;
    text-align: right !important;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button.btn.btn-primary.btnGuardar {
    background-color: #F3CF54;
    border: 1px solid #F3CF54;
    border-radius: 10px;
    width: 100%;
    color: #263238;
    font-weight: 600;
    box-shadow: 0 0 4px #F3CF54;
    transition: .3s;
    margin-top: 8px !important;
}

.cardMascota{
    border: none;
    box-shadow: 0 0 10px #e1d19ba9;
    margin-top: 20px;
}

.cardMascota:last-child{
    margin-bottom: 60px;
}

img.imgCardMascota {
    height: 220px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btnContactar{
    background-color: #F3CF54;
    border: 1px solid #F3CF54;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    color: #263238;
    font-weight: 600;
    margin-bottom: 20px;
    box-shadow: 0 0 4px #F3CF54;
    transition: .3s;
    
}

.btnContactar:hover{
    background-color: #263238;
    color: #F3CF54;
    box-shadow: 0px 0px 4px #263238;
    border-color: #263238;
    transition: .3s;
}

svg.iconoWsp {
    font-size: 18px;
    margin-bottom: 5px;
}