.menuLateral {
    color: #263238;
    width: 100%;
    background: #EF8E41;
    z-index: 2;
    position: fixed;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0px;
}
.col-3.containerMenu {
    text-align: center;
}
button.btnMenu {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 22px;
}

  
  .containerMenu {
    margin-bottom: 10px; /* Espacio entre los botones */
  }